*{
    margin: 0;
    padding: 0;
}

.uber{
    background: #000000;
    padding: 15px;
    color: white;
    border: none;
    font-weight: 800;
    margin: 10px;
    transition: opacity 0.5s;
}
.uber:hover{
    opacity: 0.8;
}

.amazon{
    background: #FED712;
    border: none;
    width: 200px;
    padding: 10px;
    border-radius: 50px;
    font-size: medium;
    margin: 10px;
    /* transition: background 1s */
}

.amazon:hover{
    background: #F6C900;
}

.github{
    background: #30A650;
    color: white;
    border: none;
    padding: 15px;
    width: 110px;
    font-size: medium;
    font-weight: bold;
    border-radius: 7px;
    margin: 10px;
    transition: box-shadow 0.5s;
    
}

.github:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5) ;
}

.bootstrap{
    background: #6C49A1;
    border: none;
    color: white;
    padding: 15px;
    width: 150px;
    font-size: large;
    margin: 10px;
    border-radius: 5px;
}

.bootstrap:hover{
    background: #563A7D;
}

.bootstrap2{
    background: white;
    color: #5F676D;
    border-color: #5F676D;
    padding: 15px;
    width: 150px;
    font-size: large;
    margin: 10px;
    border-radius: 5px;
    
}

.bootstrap2:hover{
    background: #5F676D;
    color: white;
}

.linkdin{
    background: #1b75d6;
    font-size: large;
    color: white;
    border: #1b75d6;
    border-radius: 50px;
    padding: 15px;
    width: 280px;
}

.linkdin:hover{
    background: #1564b8;
}

.linkdin2{
    background: white;
    color: #1b75d6;
    border: 2px solid #1b75d6;
    font-size: large;
    padding: 15px;
    border-radius: 50px;
    width: 100px;
}

.linkdin2:hover{
    border: 3px solid #1b75d6;
    background: #b8cee6;
}